/* Soluzione qui */
/* tablet */
@media screen and (min-width: 768px) {
    #topbar {
        height: 70px;
        padding: 0 20px;
        background-color: #fff;
    
        display: flex;
        align-items: center;
        justify-content: flex-start;
    } 
    .quick-notes ul {
        margin-top: 30px;
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
    }
    .quick-notes li {
        font-size: 14px;
        margin: 15px 0;
        list-style-type: none;
        width: calc((100% - 30px) / 3);
    }
    .social-networks button {
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
        width: calc((100% - 80px) / 5);
    }
    .ads {
        display: inline-block;
        margin: 30px auto;
    }
    .presentation img {
        max-width: 300px;
        display: block;
        float: left;
        margin-right: 10px;
        margin-bottom: 10px;
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
    }
}
/* desktop */
@media screen and (min-width: 992px){
    .recipe-card {
        background-color: white;
        border-radius: 3px;
        box-shadow: 0 5px 10px rgb(45 34 60 / 12%);
        margin-bottom: 30px;
        display: flex;
    }
    .recipe-video {
        height: 30vw;
        flex-basis: 70%;
    }
    .recipe-info {
        padding: 30px;
        display: flex;
        flex-direction: column;
        flex-basis: 30%;
    }
}